* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    
}

#top {
    background-image: url(../images/free-video-2169880.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
}

.nav-link {
    color: #fff;
}

.bannerText {
    padding: 60px 0 60px 0;
}

.bannerText p {
    font-weight: 300;

    font-size: 12px;
}

.bannerText .btn {
    background-color: orange;
    border-radius: 12px;
    
}


.navbar-nav ul li a {
    color: #fff;
}

.intro {
    padding-bottom:20px;
}

.intro a {
    text-decoration: none;
    color: #fff;
    position: relative;
    
}

.intro img {
    width: 50px;
    height: 50px;
    
}

.intro p {
    color: #fff;
    
    position: absolute;
    top: 340px;
    left: 180px;
}

.middleText {
    padding-top: 50px;
    
}

.middleText h2 {
    font-weight: 500;
}

.middleText p {
    margin-top: 20px;
    line-height: 0.5rem;
    color: darkgrey;
}

.card img {
    width: 25px;
    /* height: 25px; */
    margin-top: 50px;
    margin-left: 50px;
}

.card-body {
    margin-left: 35px;
    margin-top: 20px;
    padding: 20px;
}

.card {
    margin-top: 50px;
}

.card-text {
    color: black;
    padding-top: 10px;
}

.card-title {
    font-weight: medium;
}

.dots {
    padding-top: 50px;
}

.find-section a {
    text-decoration: none;
    color: black;
}

.blog {
    margin-top: 50px;
}

.blog h1 {
    font-weight: normal;
}

.discount {
    background-color:orange;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
}

.discount h5 {
    float: left;
    color: white;
}

.discount .btn {
    border: 2px solid white;
    color: white;
    
}

.footer {
    padding: 20px;
    margin: 20px;
}

footer a {
    color: darkgrey;
}

footer .item-1 {
    float: left;
}
.list-1{
    display: block;
}
.list-2 p {
    line-height: 2;
}